<header class="ae-container-fluid ae-container-fluid--full rk-header ">
    <input type="checkbox" id="mobile-menu" class="rk-mobile-menu">
    <label for="mobile-menu">
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
      <svg>
        <use xlink:href="assets/img/symbols.svg#bar"></use>
      </svg>
    </label>
    <div class="ae-container-fluid rk-topbar">
      <h1 class="rk-logo">
        <a routerLink="home">{{ _servicio.info.titulo }}</a>
      </h1>
      <nav class="rk-navigation">
        <ul class="rk-menu">
          <li routerLinkActive="active"  class="rk-menu__item">
            <a routerLink="home" class="rk-menu__link">Inicio</a>
          </li>

          <li routerLinkActive="active" class="rk-menu__item">
            <a routerLink="about" class="rk-menu__link">Conócenos</a>
          </li>

          <li routerLinkActive="active" class="rk-menu__item">
            <a routerLink="productos"  class="rk-menu__link">Productos</a>
            <!-- <nav class="rk-menu__sub">
              <ul class="rk-container">
                <li class="rk-menu__item"><a href="portfolio.html" class="rk-menu__link">Ambu</a></li>
                <li class="rk-menu__item"><a href="portfolio-alt.html" class="rk-menu__link">Vyaire</a></li>
              </ul>
            </nav> -->
          </li>

          <li routerLinkActive="active" class="rk-menu__item">
            <a routerLink="marcas" class="rk-menu__link">Marcas<br> representadas</a>
          </li>
          <li routerLinkActive="active" class="rk-menu__item">
            <a routerLink="contacto" class="rk-menu__link">Contacto</a>
          </li>

        </ul>

        <div class="rk-search">
          <input type="text"
                 (keyup.enter)="buscarProducto( txtBuscar.value )"
                 placeholder="Buscar..."
                 id="urku-search"
                 class="rk-search-field"
                 #txtBuscar>

          <label for="urku-search">
            <svg>
              <use xlink:href="assets/img/symbols.svg#icon-search"></use>
            </svg>
          </label>
        </div>


      </nav>

    </div>
  </header>